/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

body {
  margin: 0; /* Removes default browser margin */
}

.index-recipe-container {
  max-width: 550px; /* Prevents content from getting too wide */
  margin-left: auto; /* Centers the container horizontally */
  margin-right: auto;
  padding: 0 20px; /* Adds some breathing room on smaller screens */
}

.index-recipe-header {
  font-size: 24px;
}

.index-recipe-category {
  font-size: 22px;
}

.index-recipe-url {
  font-size: 20px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
body {
  margin: 0; /* Removes default browser margin */
}

.recipe-container {
  max-width: 700px; /* Prevents content from getting too wide */
  margin-left: auto; /* Centers the container horizontally */
  margin-right: auto;
  padding: 0 20px; /* Adds some breathing room on smaller screens */
}
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
} 