
body {
  margin: 0; /* Removes default browser margin */
}

.index-recipe-container {
  margin-left: auto; /* Centers the container horizontally */
  margin-right: auto;
  padding: 0 20px; /* Adds some breathing room on smaller screens */
}
.index-recipe-category {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

.index-recipe-url {
	margin-top: 3px;
	margin-bottom: 3px;
	
}

.recipe-name {
	
}
.contributed-by {
	margin-top: -10px;	
}