
body {
  margin: 0; /* Removes default browser margin */
}

.index-recipe-container {
  margin-left: auto; /* Centers the container horizontally */
  margin-right: auto;
  padding: 0 20px; /* Adds some breathing room on smaller screens */
}
