body {
    background: #fff;
    font-family: sans-serif;
    color: #666;
  }
  
  h1,
  h2 {
    font-weight: 700;
    line-height: 2;
  }
  
  input[type='checkbox']+label {
    padding-left: .5em;
  }
  
  label,
  #filterToggle {
    display: inline-block;
  }
  
  #recipes,
  #filterToggle {
    background: #fefefe;
    box-shadow: 0 1px 2px #efefef;
  }
  
  #recipes {
    padding: .5em;
    overflow: hidden;
  }
  
  #recipes ul,
  #recipes h2 {
    clear: both;
  }
  
  #recipes li {
    float: left;
    width: 25%;
    line-height: 1.5;
    vertical-align: middle;
  }
  
  #filterToggle {
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    margin-left: .5em;
    margin-top: -1px;
    padding: .5em;
  }

#wheel {
	margin: auto;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
	
	#recipes li {
		float: left;
		width: 50%;
		line-height: 1.5;
		vertical-align: middle;
	}

}