
h1 {
	/* font-size: 80px; */
    font-weight: bold;
	text-align: center;
}

h2 {
	/* font-size: 80px; */
    font-weight: bold;
	text-align: center;
}

/**
input[type='checkbox']+label {
	padding-left: .5em;
}
**/

input[type="checkbox"] {
    /* Scale the checkbox by 3 times its original size */
    transform: scale(3);
    /* Add vendor prefixes for maximum compatibility */
    -ms-transform: scale(3);      /* IE 9+ */
    -moz-transform: scale(3);     /* Firefox */
    -webkit-transform: scale(3);  /* Safari and Chrome */
    -o-transform: scale(3);       /* Opera */
    /* Add margin to prevent overlapping with adjacent text/elements */
	margin-left: -25px;
	margin-right: 25px;
	margin-top: 32px;
	/* Other styling */
	display: inline-block;
	vertical-align: top;
}

#recipes li {
	font-size: 20px;
	float: left;
	width: 50%;
	vertical-align: middle;
	list-style-type: none;
}

#category-checkbox {
	display: none;
}

#canvas {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	
	h1 {
		/* font-size: 40px; */
	}
	
	#picker-header {
		margin-top: 0px;
		margin-bottom: -15px;
	}
	
	input[type="checkbox"] {
		/* Scale the checkbox by 3 times its original size */
		transform: scale(2);
		/* Add vendor prefixes for maximum compatibility */
		-ms-transform: scale(2);      /* IE 9+ */
		-moz-transform: scale(2);     /* Firefox */
		-webkit-transform: scale(2);  /* Safari and Chrome */
		-o-transform: scale(2);       /* Opera */
		/* Add margin to prevent overlapping with adjacent text/elements */
		margin-left: -30px;
		margin-right: 10px;
		margin-top: 10px;
		/* Other styling */
		display: inline-block;
		vertical-align: top;
	}
	
	#recipes li {
		font-size: 20px;
		width: 100%;
	}
	
}